.avenir {
	font-family: 'avenir next', avenir, sans-serif;
}

.white {
	color: #ffffff;
}

.bg-white {
	background: #ffffff;
}

.eggshell {
	color: #eff0eb;
}

.bg-eggshell {
	background: #eff0eb;
}

.hover-bg-eggshell:focus,
.hover-bg-eggshell:hover {
	background: #eff0eb;
}

.wine {
	color: #8a4d76;
}

.bg-wine {
	background: #8a4d76;
}

.full-height {
	height: 100vh;
}

.gap1 {
	gap: .5rem;
}

.gap2 {
	gap: 1rem;
}

.gap3 {
	gap: 2rem;
}

.gap4 {
	gap: 4rem;
}
