@font-face {
	font-family: "Nunito";
	font-style: normal;
	font-weight: normal;
	src: url("/static/font/nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Nunito";
	font-style: normal;
	font-weight: bold;
	src: url("/static/font/nunito/Nunito-Bold.ttf") format("truetype");
}

html {
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}

html, body, main {
	height: 100%;
}

.home-bg {
	background: #8a4d76;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.home {
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.home .title {
	margin: 0;
	font-size: 6rem;
	margin: 5px 0px;
	color: #fff;
}

.home .login {
	line-height: 2.5rem;
	font-size: 1.5rem;
	padding: 10px 20px;
	text-decoration: none;

	background: #fff;
	border: none;
	border-radius: 4px;
	color: #8a4d76;
}

.home .login:hover {
	background: #eee;
	cursor: pointer;
}

.jamql-bg {
	background-color: #eff0eb;
	min-height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.jamql {
	min-width: 400px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.filter-box {
	background: #8a4d76;
	border-radius: 8px;
	padding: 10px;
	margin: 0 15px 20px 15px;
}

.filter-box .filter-row {
	display: flex;
}

.filter-box .filter-row .select,
.filter-box .filter-row .input {
	background-color: white;
	border-color: transparent;
	border-radius: 4px;
	display: inline-block;
	font: inherit;
	padding: 0.5em 3.5em 0.5em 1em;
}

.filter-box .filter-row .select {
	margin: 5px;
	flex: 1 1 auto;

	background-image:
		linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px),
		calc(100% - 2.5em) 0.5em;
	background-size:
		5px 5px,
		5px 5px,
		1px 1.5em;
	background-repeat: no-repeat;

	-webkit-appearance: none;
	-moz-appearance: none;
}

.filter-box .filter-row .select:hover {
	border-color: #d0d1cd;
	cursor: pointer;
}

.filter-box .filter-row .input {
	flex: 1 1 auto;
	margin: 5px;
	min-width: 50px;
}

.filter-box .filter-row .input:hover {
	border-color: #d0d1cd;
}

.filter-box .filter-row .between-and {
	color: #fff;
	font-weight: 700;
	vertical-align: middle;
	margin: 0 10px;
	padding-top: 15px;
}

.filter-box .filter-row .button {
	margin: 5px;
	flex: 0 1 auto;

	display: inline-block;
	border-color: transparent;
	border-radius: 4px;
	background-color: #f14668;
	padding: 0px 12px;
}

.filter-box .filter-row .button:hover {
	background-color: #f03a5f;
	cursor: pointer;
}

.filter-box .filter-row .button .icon {
	font-size: 1.2rem;
	font-weight: 900;
	text-align: center;
	color: #ffffff;
}

.filter-add {
	text-align: center;
}

.filter-add .filter-add-button {
	color: #363636;
	margin: 15px;
	background: #ffffff;
	border: 2px solid #dbdbdb;
	border-radius: 100000px;
	padding: 10px 30px;
	font-size: 1.2rem;
}

.filter-add .filter-add-button:hover {
	border-color: #d0d1cd;
	cursor: pointer;
}

.filter-add .filter-add-button:active {
	border-color: #757763
}

.save-search {
	margin: 15px 20px;
	display: flex;
}

.save-search .button {
	flex: 1 1 auto;

	font-size: 1.2rem;
	width: 40%;
	color: #ffffff;
	margin: 15px;
	background: #fa7c91;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
}

.save-search .button.active:hover {
	background: #fa7087;
	cursor: pointer;
}

.save-search .button.inactive {
	background: #d0d0d0;
}

.no-tracks {
	border-radius: 8px;
	padding: 15px 10px;
	margin: 15px;
	text-align: center;
	color: #afafaf;
	font-size: 1.5rem;
	border: 2px dashed #afafaf;
}

.track-box {
	background: white;
	border-radius: 8px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
	padding: 10px;
	margin: 15px;

	display: flex;
	align-items: flex-start;
}

.track-box .track-artwork {
	min-width: 64px;
}

.track-box .track-info {
	text-align: left;
	margin-left: 10px;
}

.track-box .track-info .title {
	font-size: 1.5rem;
	font-weight: 700;
	padding-top: 0;
	margin: 0;
}

.track-box .track-info .subtitle {
	color: #8a4d76;
	font-size: 1rem;
	padding: 0;
}
