<!DOCTYPE html>
<html lang="en">

<head>
	<title>JamQL</title>

	<meta charset="utf-8" />
	<meta name="description" content="JamQL - Programmatic Playlists for Spotify" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/css/tachyons.min.css">
	<script src="/static/js/alpine.min.js" defer></script>
</head>

<body>
	<p>Not found</p>
</body>

</html>
