<!DOCTYPE html>
<html lang="en">

<head>
	<title>JamQL</title>

	<meta charset="utf-8" />
	<meta name="description" content="JamQL - Programmatic Playlists for Spotify" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<p>Internal server error</p>
</body>

</html>
