{{define "filter"}}
<div x-data="{ key: '', op: '' }" class="filter-box">
	<div class="filter-row">
		<select x-model="key" name="filter-key" class="select">
			<option value="name">Name</option>
			<option value="artist" selected>Artist</option>
			<option value="album">Album</option>
			<option value="genre">Genre</option>
			<option value="year">Year</option>
		</select>
		<select x-model="op" name="filter-op" class="select">
			<option value="equals" selected>Equals</option>
			<option x-text="key == 'year' ? 'Between' : 'Contains'" value="contains">Contains</option>
		</select>
	</div>
	<div class="filter-row">
		<input name="filter-value-1" class="input" type="text" placeholder="Filter..." />
		<p
			x-show="key == 'year' && op == 'contains'"
			class="between-and">and</p>
		<input
			x-show="key == 'year' && op == 'contains'"
			name="filter-value-2" class="input" type="text" placeholder="Filter..." />
		<button class="button" type="button">
			<span class="icon">X</span>
		</button>
	</div>
</div>
{{end}}
