<!DOCTYPE html>
<html lang="en">

<head>
	<title>JamQL</title>

	<meta charset="utf-8" />
	<meta name="description" content="JamQL - Programmatic Playlists for Spotify" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/css/tachyons.min.css">
	<script src="/static/js/alpine.min.js" defer></script>
</head>

<body class="avenir bg-purple">
	<div class="vh-100 w-100 dt">
		<div class="dtc v-mid tc">
			<p class="f-subheadline mv4 white">JamQL</p>
			<a href="/jamql" class="b link b--none br3 pa3 purple bg-white hover-bg-near-white">Login with Spotify</a>
		</div>
	</div>
</body>

</html>
