<!DOCTYPE html>
<html lang="en">

<head>
	<title>JamQL</title>

	<meta charset="utf-8" />
	<meta name="description" content="JamQL - Programmatic Playlists for Spotify" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/css/minireset.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<script src="/static/js/alpine.min.js" defer></script>
	<script src="/static/js/htmx.min.js" defer></script>
</head>

<body>
	<div class="home-bg">
		<div class="home">
			<p class="title">JamQL</p>
			<a href="/jamql" class="login">Login with Spotify</a>
		</div>
	</div>
</body>

</html>
