<!DOCTYPE html>
<html lang="en">

<head>
	<title>JamQL</title>

	<meta charset="utf-8" />
	<meta name="description" content="JamQL - Programmatic Playlists for Spotify" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/css/minireset.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<script src="/static/js/alpine.min.js" defer></script>
	<script src="/static/js/htmx.min.js" defer></script>
</head>

<body>
	<div class="jamql-bg">
		<div class="jamql">
			<!-- TODO: flash error -->
			<!-- TODO: flash success -->
			<form id="filters">
				<!-- TODO: filter boxes -->
				<!-- TODO: add filter button -->
				<!-- TODO: save / search buttons -->
			</form>
			<!-- TODO: no tracks placeholder -->
			<!-- TODO: track cards -->
		</div>
	</div>
</body>

</html>
