{{template "base" .}}

<!--

TODO:

save goes active after successful search
	only success, no error + no empty

-->

{{define "main"}}
<div class="jamql-bg">
	<div class="jamql">
		<!-- element for flash messages -->
		<div id="flash"></div>

		<form x-data="{
			saveReady: false,
			filters: [0, 1, 2],
			addFilter() {
				if (this.filters.length >= 5) {
					return;
				}
				for (let i = 0; i < 5; i++) {
					if (!this.filters.includes(i)) {
						console.log('add', i);
						this.filters.push(i);
						return;
					}
				}
			},
			removeFilter(idx) {
				console.log('remove', idx);
				this.filters.splice(idx, 1);
			},
		}">

			<!-- filter boxes -->
			<template x-for="filter in filters" x-bind:key="filter">
				<div x-data="{ key: '', op: '' }" class="filter-box">
					<div class="filter-row">
						<select x-model="key" x-bind:name="'filter-key-' + filter" class="select">
							<option value="name">Name</option>
							<option value="artist" selected>Artist</option>
							<option value="album">Album</option>
							<option value="genre">Genre</option>
							<option value="year">Year</option>
						</select>
						<select x-model="op" x-bind:name="`filter-op-` + filter" class="select">
							<option value="equals" selected>Equals</option>
							<option x-text="key == 'year' ? 'Between' : 'Contains'" value="contains">Contains</option>
						</select>
					</div>
					<div class="filter-row">
						<input x-bind:name="'filter-value1-' + filter" class="input" type="text" placeholder="Filter..." />
						<p
							x-show="key == 'year' && op == 'contains'"
							x-transition
							class="between-and">and</p>
						<input
							x-show="key == 'year' && op == 'contains'"
							x-transition
							x-bind:name="'filter-value2-' + filter"
							class="input" type="text" placeholder="Filter..." />
						<button x-on:click="removeFilter(filters.indexOf(filter))" class="button" type="button">
							<span class="icon">X</span>
						</button>
					</div>
				</div>
			</template>

			<!-- add filter button -->
			<div x-show="filters.length < 5" class="filter-add">
				<button x-on:click="addFilter()" class="filter-add-button" type="button">Add Filter</button>
			</div>

			<!-- save / search buttons -->
			<div class="save-search">
				<button class="button" hx-post="/search" hx-swap="innerHTML" hx-target="#tracks" hx-target-error="#flash" x-on:click="saveReady = true">
					<span>Search</span>
				</button>
				<button class="button" hx-post="/save" hx-swap="innerHTML" hx-target="#flash" hx-target-error="#flash" x-on:click="saveReady = false" x-bind:disabled="!saveReady">
					<span>Save</span>
				</button>
			</div>
		</form>

		<!-- tracks -->
		<div id="tracks">
			<!-- no tracks placeholder -->
			<div class="no-tracks">
				<p>Search to see some tracks!</p>
			</div>
		</div>

	</div>
</div>
{{end}}
