{{template "base" .}}

{{define "main"}}
<div class="jamql-bg">
	<div class="jamql">
		<p class="header">JamQL</p>

		<!-- element for flash messages -->
		<div id="flash"></div>

		<!-- dynamic filters form -->
		<form x-data="{
			filters: [0, 1],
			filterCount: {{.FilterCount}},
			addFilter() {
				if (this.filters.length >= this.filterCount) {
					return;
				}
				for (let i = 0; i < this.filterCount; i++) {
					if (!this.filters.includes(i)) {
						this.filters.push(i);
						return;
					}
				}
			},
			removeFilter(idx) {
				this.filters.splice(idx, 1);
			},
		}">

			<!-- filter boxes -->
			<template
				x-for="filter in filters"
				x-bind:key="filter">
				<div
					x-data="{ key: '', op: '' }"
					class="filter-box">
					<div class="filter-row">
						<select
							x-model="key"
							x-bind:name="'filter-key-' + filter"
							class="select">
							<option value="name">Name</option>
							<option value="artist" selected>Artist</option>
							<option value="album">Album</option>
							<option value="genre">Genre</option>
							<option value="year">Year</option>
						</select>
						<select
							x-model="op"
							x-bind:name="`filter-op-` + filter"
							class="select">
							<option value="equals" selected>Equals</option>
							<option
								x-text="key == 'year' ? 'Between' : 'Contains'"
								value="contains">Contains</option>
						</select>
					</div>
					<div class="filter-row">
						<input
							x-bind:name="'filter-value1-' + filter"
							class="input" type="text" placeholder="Filter..." />
						<p
							x-show="key == 'year' && op == 'contains'"
							x-transition
							class="between-and">and</p>
						<input
							x-show="key == 'year' && op == 'contains'"
							x-transition
							x-bind:name="'filter-value2-' + filter"
							class="input" type="text" placeholder="Filter..." />
						<button
							x-on:click="removeFilter(filters.indexOf(filter))"
							class="button" type="button">
							<svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
							</svg>
						</button>
					</div>
				</div>
			</template>

			<!-- add filter button -->
			<div class="filter-add">
				<button
					x-bind:disabled="filters.length >= filterCount"
					x-on:click="addFilter()"
					class="filter-add-button" type="button">Add Filter</button>
			</div>

			<!-- save / search buttons -->
			<div class="save-search">
				<button
					hx-post="/search"
					hx-target="#tracks"
					hx-target-error="#flash"
					hx-swap="innerHTML"
					class="button">
					<span>Search</span>
				</button>
				<button
					hx-post="/save"
					hx-target="#flash"
					hx-target-error="#flash"
					hx-swap="innerHTML"
					class="button" id="save-button" disabled>
					<span>Save</span>
				</button>
			</div>
		</form>

		<!-- tracks -->
		<div id="tracks">
			<!-- no tracks placeholder -->
			<div class="no-tracks">
				<p>Search to see some tracks!</p>
			</div>
		</div>

	</div>
</div>
{{end}}
