<div class="track-box">
	<img class="track-artwork" src="{{.Artwork}}" />
	<div class="track-info">
		<p class="title">{{.Name}}</p>
		<p class="subtitle">{{.Artist}} &bull; {{.Album}}</p>
	</div>
</div>
